vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Nov 2012 05:22:34 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Matthew-PC\\Matthew
vti_modifiedby:SR|Matthew-PC\\Matthew
vti_timecreated:TR|19 Nov 2012 04:18:43 -0000
vti_backlinkinfo:VX|JDIntarsia/index.php
vti_cacheddtm:TX|20 Nov 2012 05:22:34 -0000
vti_filesize:IR|8597
vti_cachedlinkinfo:VX|S|/images/bg_form.png S|images/background.jpg
vti_cachedsvcrellinks:VX|NSUS|/images/bg_form.png FSUS|JDIntarsia/images/background.jpg
